extends ../layouts/application.pug
  
block header
  = t('layouts.application.articles')

block content
  a.btn.btn-primary(href=route('newArticle'))= t('views.article.create.link')
  div.table-responsive
    table.table.table-borderless.table-striped.mt-5.bg-white
      thead
        tr
          th.col-1.py-3= t('views.article.id.title')
          th.py-3= t('views.article.name.title')
          th.col-2.py-3= t('views.article.createdAt.title')
          th.col-2
      tbody
        each article in articles
          tr
            td.align-middle= article.id
            td.align-middle
              a(href=route('article', { id: article.id }))= article.name
            td.align-middle= formatDate(article.createdAt)
            td
              .d-flex
                a.btn.btn-primary.me-1(href=route('editArticle', { id: article.id }))= t('views.article.edit.link')
                +buttonTo(route('article', { id: article.id }), 'delete')(
                  class="btn btn-danger"
                  value=t('views.article.delete.submit')
                  onclick=`return confirm('${t('views.article.delete.confirmation')}')`
                )
