include ../mixins/forms.pug

doctype html
html(lang=ru)
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title= t('layouts.application.title')
    link(href="/assets/css/bootstrap.min.css" rel="stylesheet")
  body.d-flex.flex-column.min-vh-100.bg-light
    nav.navbar.navbar-expand-lg.navbar-light.bg-white
      .container
        a.navbar-brand(href=route('root'))= t('appName')
        button.navbar-toggler(data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent")
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarToggleExternalContent")
          ul.navbar-nav.justify-content-end.w-100
            li.nav-item.me-auto
              a.nav-link(href=route('articles'))= t('layouts.application.articles')

    .container.wrapper.flex-grow-1
      each messages, type in reply.flash() || []
        each message in messages
          .alert(class=`alert-${getAlertClass(type)}`)= message

      h1.display-4.fw-bold.mt-4
        block header
      block content

    footer.bg-dark.text-light
      .container.py-3
        p.lead.mb-0 &copy; Hexlet Ltd, 2021
